version: '3'
services:
#    mongo:
#        image: mongo
#        container_name: mongo-server
#        volumes:
#            - ./mongo/db:/data/db   # /data/db是container中存放数据位置
#        ports:
#            - 27017:27017
#        environment:
#            ME_CONFIG_BASICAUTH_USERNAME: root
#            ME_CONFIG_BASICAUTH_PASSWORD: password
#        #restart: always
#
#    mongo-express:
#        links:
#            - mongo  # 这里关联到mongo的container
#        image: mongo-express
#        container_name: mongo-express-server
#        #restart: always
#        ports:
#            - 8081:8081
#        environment:
#            ME_CONFIG_BASICAUTH_USERNAME: root
#            ME_CONFIG_BASICAUTH_PASSWORD: password

    mysql:
            image: mysql:5.7
            container_name: mysql-server
            ports:
                - 33060:33060
                - 3306:3306
    #        command: --default-authentication-plugin=mysql_native_password
            #restart: always
            volumes:
                - ./mysql/db:/var/lib/mysql
                - ./mysql/conf.d:/etc/mysql/conf.d
            environment:
                MYSQL_ROOT_PASSWORD: password
#
#    adminer:
#        image: adminer
#        container_name: adminer-server
#        #restart: always
#        ports:
#            - 8080:8080

#    redis:
#        image: redis
#        container_name: redis-server
#        #restart: always
#        command: redis-server /usr/local/etc/redis/redis.conf
#        ports:
#            - 6379:6379
#        volumes:
#            - ./redis/conf/redis.conf:/usr/local/etc/redis/redis.conf
#            - ./redis/db/:/data/

